body {
  margin: 0;
  .container {
    background-image: url("background.jpg");
    padding: 0;
    min-height: 100vh;
  }
}

.open-modal {
  margin: 10px 0 0 10px;
  box-shadow: 11px 14px 21px -13px rgba(0, 0, 0, 0.75);
}

.output-like {
  font-size: 24px;
}