#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(115, 126, 129, 0.5);
}

form {
    height: 120px;
    width: 400px;
    box-shadow: 13px 12px 38px -17px rgba(0,0,0,0.75);
    background-color: azure;
    text-align: center;
}

label,
input{
    display: block;
    margin: 10px auto;
}

#modal-container.hidden {
    display: none;
}

